*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: black;    
}

body{
    user-select: none;
    background-image: url('./pisque.jpg');
    background-repeat: no-repeat;
    background-size: 800px 450px;
    background-position: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: #00000020;
}

.title{
    font-size: calc(10px + 1vw);
}

.title p{
    font-size: calc(10px + .5vw);
}

.countdown{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    width: 60vw;
    gap: 30px;
}

.countdown h1{
    font-size: calc(10px + 4vw);
    text-shadow: 0 0 10px  blanchedalmond;
    
}

.button{
    background-color: whitesmoke;
    box-shadow: 0 0 10px blanchedalmond;
    border-radius: 15%;
    padding: 10px;
    cursor: pointer;
}

@media (max-width: 767px){
    body{
        user-select: none;
        background-image: url('./pisque-mob.jpg');
        background-repeat: no-repeat;
        background-size: 770px 770px;
        background-position: center;
    }

    .countdown{
        flex-direction: column;
    }
}